version: '3.8'

services:
  app:
    build: .
    container_name: app
    restart: always
    ports:
      - "80:80"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - laravel-network

  db:
    image: mysql:8.0.44-debian
    container_name: db
    restart: always
    env_file:
      - .env
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - laravel-network

networks:
  laravel-network:
    driver: bridge

volumes:
  dbdata: